# build artifacts
/build/
/dist/
/env/
*.exe
*.db-journal
*.db-wal
*.db-shm
port.lock
core.out
core.err
vec-win.tar.gz

# frontend build artifacts
tsconfig.tsbuildinfo

# go
/vendor/

# IDE
/.idea/
/.vscode/
